
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mongo Scraper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>
<div class="container-fluid article-container">
  <div data-_id="5bb017e692a1800014b100a5" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2018/09/29/style/spending-forever-together.html">How to Know if You Should Spend Forever Together</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">“‘OK. I hear you.’ That’s all he said, because he has literally nothing to say, ever, like all men.” A love story.</div>
  </div>
    <div data-_id="5bb017e692a1800014b100a2" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2018/09/29/opinion/sunday/brett-kavanaugh-ralph-club.html">Capitol Hill Ralph Club</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Brett Kavanaugh faces his moment of truth in a town that doesn’t care about truth.</div>
  </div>
    <div data-_id="5bb017e692a1800014b100a1" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2018/09/29/opinion/sunday/sex-education-ethics-assault-boys.html">We Can’t Just Let Boys Be Boys</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Locker rooms are not the place to learn about sexual ethics. Neither is the internet.</div>
  </div>
    <div data-_id="5bb017e692a1800014b1009f" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2018/09/29/business/economy/home-prices-housing-market-slowdown.html">Housing Market Slows, as Rising Prices Outpace Wages</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Even in attractive, fast-growing cities like Denver, New York and Seattle, selling prices are rising more slowly and asking prices are being slashed.</div>
  </div>
    <div data-_id="5bb017e692a1800014b100a0" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2018/09/29/arts/11-of-our-best-weekend-reads.html">11 of Our Best Weekend Reads</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Padma Lakshmi on her rape and why she kept silent. Joan Jett on her lot in life. Joe Ide writes again. Remembering summer and the Village Voice. And more.</div>
  </div>
    <div data-_id="5bb017e692a1800014b1009d" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.comhttps://www.nytimes.com/tips">Got a confidential news tip?</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Do you have the next big story? Share it with our journalists.</div>
  </div>
    <div data-_id="5bb017e692a1800014b1009e" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/interactive/2018/09/28/us/politics/kavanaugh-ford-testimony-investigation.html">Here Are Three Inconsistencies the F.B.I. Investigation Could Address</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">The Senate testimony of Dr. Blasey and Judge Brett M. Kavanaugh revealed several details in their stories that do not match up.</div>
  </div>
    <div data-_id="5bb017e692a1800014b1009c" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2018/09/28/dining/fast-favorites.html">Sign Up for Five Weeknight Recipes</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">A newsletter for when the days get busy.</div>
  </div>
   </div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/index.js"></script>

</body>

</html>
